/*
Theme Name: T&F Journals Production UK
Theme URI: http://themeawesome.com/wordpress-child-theme
Description: Theme for T&F Journals Production UK resources site, currently based on themes WP-Starter 4.0 and WP-Forge
Author: Taylor & Francis
Template: wp-forge
Version: 1.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, gray, white, one-column, two-columns, right-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-images, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: wp-starter

Start adding your theme specific styles below.
*/

.nowrap { white-space:nowrap; }

.header-logo {
    float: none;
}

/* padding to centre the search bar in the nav panel*/
.bop-nav-search {
	padding-top: 9px;
}

article, aside, footer, header, nav, section{
    margin: auto;
}

img.header-image{
    display: block;
    margin: auto;
}

.nav_wrap{
    margin: auto;
}

body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5{
    font-family: "Open Sans", "sans serif";
    color: #72777c;
    opacity: 1;
}

.menu{
    justify-content: center;
}

#main-menu{
    padding: 0px;
    max-width: 100%;
}

#content{
    float: left;
}

#secondary{
    float: right;
}

/*Attempting to stop a big grey bar from appearing in specific tables.*/

.comment-content table[id="plainwhite"]{
	border-bottom: 1px solid #ededed;
	color: #ffffff;
	line-height: 2;
	margin: 0 0 1.5rem;
	width: 100%;}


/* Child Theme Media Queries - Use the following media queries to adjust the appearance of your theme on mobile devices */

/* Small screens */
@media only screen { }/* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) { /* min-width 1025px, large screens */
    #secondary{ /* Right sidebar */
        width: 25%
    }  
}  

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */    